.authors {
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 40px;
  margin-left: 60px;
  border: 1px solid rgb(235, 235, 235);
  .contact-info {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: inline-block;
  }
  .text {
  }
  .logo {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    display: inline-block;
    .online {
      background-color: rgb(3, 230, 3);
      width: 20px;
      height: 20px;
      border-radius: 10px;
    }
  }
  .see-more {
    float: right;
    margin-right: 30px;
  }
}
