.profile {
  background-color: #212c39;
  padding-top: 60px;
  padding-bottom: 100px;

  .profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 200px;
    border: 2px solid #ec3161;
    display: inline-block;
  }
  .profile-name {
    color: white;
    width: 700px;
    margin-left: 50px;
    display: inline-block;
    .name {
      font-weight: bold;
      font-size: 25px;
    }
  }
  .social-interactions {
    color: white;
    position: absolute;
    right: 0px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 50px;
    .column-follow {
      background-color: #8c9298;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 20px;
    }
  }
}
.sub-menu {
  font-weight: bold;
  font-size: 18px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, minmax(100px, 220px));
  margin-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  border-bottom: 1px solid rgb(240, 239, 239);
  .share-links {
    position: absolute;
    right: 50px;
  }
  .selected {
    border-bottom: 3px solid #ec3161;
  }
}
.expert-body {
  background-color: #f5f8fa;
  padding-top: 40px;
  padding-right: 40px;
}
