.products {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgb(235, 235, 235);
  .tittles {
    width: 100%;
  }

  .add-icon {
    color: #ec3161;
    margin-right: 15px;
  }
  .area {
  }
  .see-more {
    float: right;
    margin-right: 30px;
  }
}
