.award {
  background-color: white;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 40px;
  border: 1px solid rgb(235, 235, 235);
  .awards {
    display: flex;

    align-items: center;
    margin-top: 20px;
  }
  .contact-info {
    margin-left: 20px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
}
