.social-media {
  background-color: white;

  margin-top: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;
  border: 1px solid rgb(235, 235, 235);

  .info {
    font-weight: bold;
    margin-top: 40px;
  }
}
