.investigation-areas {
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 60px;
  margin-bottom: 40px;
  border: 1px solid rgb(235, 235, 235);

  .area {
  }
  .see-more {
    float: right;
    margin-right: 30px;
  }
}
