.Announcement {
  background-color: #ec3161;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;

  border: 1px solid rgb(235, 235, 235);
}
